* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}


.footer {
    display: block;
}


/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 20px 20px 20px 50px;
    font-size: 80%;
}

.footer-nav-left,
.footer-nav-right,
.footer-nav-center{
    list-style: none;
    font-size: 15px;
}

.footer-nav-center {
    padding-top: 10px;
    text-align: center;
}

.footer-nav-left li a:link,
.footer-nav-left li a:visited,
.footer-nav-center li a:link,
.footer-nav-center li a:visited{
    font-size: 100%;
    color: yellow;
    text-decoration: none;
}

.footer-nav-left li a:hover,
.footer-nav-left li a:active{
    color: blue;
    transition: color 0.3s;
}

.footer-nav-center li a:hover,
.footer-nav-center li a:active{
    color: blue;
    font-size: 120%;
    transition: font-size 0.2s, color 0.4s;
}

.footer-nav-center li {
    margin-bottom: 15px;
}

.footer-nav-left li,
.footer-nav-right li {
    display: block;
    margin-right: 20px;
    margin-bottom: 10px;
    color: azure;
}

.footer-nav-right {
    padding-left: 20%;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}
