{% extends 'layout.html' %}

{% block body %}







<section id="team" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <!-- SECTION TITLE -->
                    <div class="section-title">

                         <h2>OFFICE : {{session['hostelname']}} HALL OF RESIDENCE</h2>
                    </div>
               </div>

                <div id="owl-team" class="owl-carousel">
                    <div class="col-md-4 col-sm-4 item">
                         <div class="team-item">
                              <img src="{{ url_for('static', filename='img/ruchi.jpg') }}" class="img-responsive" alt="">
                              <div class="team-overlay">
                                   <ul class="social-icon">
                                   	<li style="color: white;"><h2>Dr. Ruchi Sharma</h2></li>
                                   </ul>
                              </div>
                         </div>
                         <p>Dr. Ruchi Sharma</p>
                         <a href="http://people.iiti.ac.in/~ruchi/" target="_blank"><h3>Warden</h3></a>
                    </div>

                    <div class="col-md-4 col-sm-4 item">
                         <div class="team-item">
                              <img src="{{ url_for('static', filename='img/Ananya.jpg') }}" class="img-responsive" alt="">
                              <div class="team-overlay">
                                   <ul class="social-icon">
                                   	<li style="color: white;"><h2>Dr. Ananya Ghoshal</h2></li>
                                   </ul>
                              </div>
                         </div>
                         <p>Dr. Ananya Ghoshal</p>
                         <h3>Associate Warden</h3>
                    </div>

                    <div class="col-md-4 col-sm-4 item">
                         <div class="team-item">
                              <img src="{{ url_for('static', filename='img/ShrashtiSharma.jpg') }}" class="img-responsive" alt="">
                              <div class="team-overlay">
                                   <ul class="social-icon">
                                   	<li style="color: white;"><h2>Ms. Shrashti Sharma</h2></li>
                                   </ul>
                              </div>
                         </div>
                         <p>Ms. Shrashti Sharma</p>
                         <h3>Junior Assistant</h3>
                    </div>

                    <div class="col-md-4 col-sm-4 item">
                         <div class="team-item">
                              <img src="{{ url_for('static', filename='img/RamNarayanYadav.jpg') }}" class="img-responsive" alt="">
                              <div class="team-overlay">
                                   <ul class="social-icon">
                                        <li style="color: white;"><h2>Mr. Ram Narayan Yadav</h2></li>
                                   </ul>
                              </div>
                         </div>
                         <p>Mr. Ram Narayan Yadav</p>
                         <h3>Attendant</h3>
                    </div>
                    
               </div>

          </div>
     </div>
</section>






















{% endblock %}