<!DOCTYPE html>
<html>
<head>
	<title> LOG IN</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/st.css') }}"/>

</head>
<body background="{{ url_for('static', filename='img/hostel.png') }}">
	{% for mesg in get_flashed_messages() %}
	<div class="flash">
	  <h4>{{ mesg }}</h4>
  </div>
	{% endfor %}
	<div class="iit">
		<h1>WELCOME</h1>
		<a style="color:#f4e701;" href="{{url_for('home')}}"><h5>IIT INDORE HOR</h5></a>
	</div>
<form action="" method="post">

<div class="form-box">
	<h1>Reset Password</h1>
    
	<div class="input-box">
		<i class="fa fa-envelope-o"></i>
		<input type="text" placeholder="username" name="username">
	</div>
	<div class="input-box">
		<i class="fa fa-envelope-o"></i>
		<input type="password" placeholder="new password" name="new password">
	</div>
	<div class="input-box">
		<i class="fa fa-key"></i>
		<input type="password" placeholder="confirm password" name="confirm password" >
	</div>

	<button type="submit" class="login-btn"> Submit</button>
	<p style="text-align:left;">
        <a href="/signup" style="color:blue;">SIGN UP</a>
        <span style="float:right;">
            <a style="color:blue;" href="/login">LOG IN</a>
        </span>
    </p>
</div>
</form>
</body>
</html>